<style>
  .footer-links > li {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
}

.footer-links >li > a {
  text-decoration: none;
  color: #1F2633;
}

footer h5{ 
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;;

}

.footer-logo {
    text-align:left;
    margin-bottom: 30px;
}

.footer-social-icons li {
  display: inline-block;
  text-align: center;
}

.footer-social-icons li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    margin-top: 24px;
  } 
.footer-social-icons li a i {
  color: black;
}

.signup-btn {
  width:106px;
  height: 39px;
  background: #03789B;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  line-height: 19px;
}

.subscribe-section > span {
  font-family: 'Mulish', sans-serif;
  font-weight: 400;
  color: #aaa;
}
</style>


<footer style="background-color:#fff;">
  <div class="container-fluid">
    <div class="row footer-top" style="margin-left: 85px;">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <ul class="footer-links">
          <h5>ABOUT NM WATER DATA</h5>
          <li><a href="https://newmexicowaterdata.org/about/">About</a></li>
          <li><a href="https://newmexicowaterdata.org/news/">News</a></li>
          <li><a href="https://catalog.newmexicowaterdata.org/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <ul class="footer-links">
          <h5>USEFUL LINKS</h5>
          <li><a href="https://newmexicowaterdata.org/maps/">Maps</a></li>
          <li><a href="https://newmexicowaterdata.org/faq/">FAQ</a></li>
          <li><a href="https://newmexicowaterdata.org/resources/">Resources</a></li>
        </ul>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-12">
        <ul class="footer-links">
        <h5>GET STARTED</h5>
        <li><a href="https://catalog.newmexicowaterdata.org/user/register">Register</a></li>
        <li><a href="https://newmexicowaterdata.org/give/">Give</a></li>
        <li><a href="https://ee.kobotoolbox.org/x/eeQ5WqGF">Report a dry well</a></li>
      </ul>
      </div>
      <div class="col-md-3 hidden-sm-12"></div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="subscribe-section pull-right">
          <h5>SUBSCRIBE TO OUR NEWSLETTER</h5>
          <span>The latest news, articles,<br> and resources, sent to your inbox.</span>
          <div class="form-inline">
          <div class="input-group" style="margin-top:15px;">
            <input type="email" class="form-control" placeholder="Enter your email" style="width: 235px; height:39px; margin-right:10px;">
            <span>
              <button type="button" class="signup-btn">SIGN UP</button>
            </span>
        </div>
        </div>
        
        </div>
       
      </div>

    </div>
    <div class= "footer-bottom" style="margin-top: 40px; margin-left: 85px;">
      <div class="col-md-12">
        <div class="footer-logo pull-left">
          <a href="https://newmexicowaterdata.org">
            <img src="https://newmexicowaterdata.org/wp-content/uploads/2020/04/newmexicowaterdatalogo.png" alt="Site Logo" title="Site Logo"
            width="177" height="56">
          </a>
          <span style="margin:20px;"><a href="https://datopian.com/" style="color:#aaa; text-decoration:underline;">Powered by Datopian</a></span>
        </div>
        <div class="pull-right" >
          <ul class='footer-social-icons'>  
            <li><a href="https://www.facebook.com/New-Mexico-Water-Data-Initiative-101952228619980" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/NMWaterData" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCjg-ue-G5KqKQNfaKKkePfQ/" target="_blank"><i class="fa fa-youtube"></i></a></li>
            <li><a href="https://join.slack.com/t/newmexicowaterdata/shared_invite/zt-ihhgwm0n-Espdm3Kx3jPS4Q_RKrDxDg" target="_blank"><i class="fa fa-slack"></i></a></li>
            <li><a href="https://www.linkedin.com/company/71665272" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="https://www.instagram.com/nmwaterdata/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="https://github.com/NMWDI" target="_blank"><i class="fa fa-skype"></i></a></li>
          </ul>
        </div>
        </div>



    </div>
  </div>
</footer>





