
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 

<style>

.navbar-top{
  background-color: #323232;
  width: 100%;


}
.top-content {
  margin-left: 100px;
  margin-right: 100px;
}

.social {
  display: inline-block;
  vertical-align: top;
}

.social-icons li {
  display:inline-block;
  vertical-align: top;
  text-align: center;
} 

 .social-icons li a {
  display: block;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #4A4A37;
  cursor: pointer;
  line-height: 43px;
} 

.social-icons li a i {
  font-size: 13px;
  color: #fff;
  line-height: 43px;
}

.social-icons li:last-child a {
  border-right: 1px solid #4A4A37;
} 

.contact-nav ul {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px;
}

.contact-nav li {
  display: inline-block;
  vertical-align: top;
  font-weight: 400;
  font-size: 14px;
  color: #cacaca;
  line-height: 25px;
}
.contact-nav li a {
  color: #fff;
  text-decoration: none;
}

.contact-button {
  display: inline-block;
  vertical-align: top;
  margin-left: 24px;
}
.btn {
  vertical-align: top;
  padding: 9px 20px 8px 20px;
  border-radius: 0;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  line-height: 26px;
}

.brand-logo {
  float: left;
  margin-top: 2%;
  margin-left: 5%;
  text-align: center;
}

.brand-logo img {
  width: 123px;
  height: 39px;
  top: 62px;
  left: 95px;
}


.navbar-main {
  background-color: #fff;
  width: 100%;
}


.nav {
float: right;
text-align: right;
}

nav .right-content {
display: block;
margin-right: 24px;
font-family: 'Poppins', sans-serif;
font-weight: 600;
}

.right-content li {
display: inline-block;
vertical-align: top;
width: auto;
height: auto;
margin-right: 35px;
}

.right-content li a {
position: relative;
display: block;
width: auto;
height: auto;
padding-top: 26px;
padding-bottom: 26px;
cursor: pointer;
font-family: Poppins;
text-transform: uppercase;
line-height: 27px;
font-weight: 600;
font-style: normal;
color: #333;
font-size: 13px;
text-decoration: none;
}

/* .responsive-nav {
  float: right;
  margin-top: 24px;
}
.responsive-nav i {
  line-height: 1;
  cursor: pointer;
} */

</style>


<nav class="navbar" style="margin-bottom:-5px;">

  <div class="navbar-top container hidden-xs">
    <div class="top-content container-fluid">
      <div class="row">
      <div class="col-lg-3 col-md-3 cold-sm-3 col-xs-12 text-left">
        <div class="social">
        <ul class='social-icons'>  
          <li><a href="https://www.facebook.com/New-Mexico-Water-Data-Initiative-101952228619980" target="_blank"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/NMWaterData" target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/channel/UCjg-ue-G5KqKQNfaKKkePfQ/" target="_blank"><i class="fa fa-youtube"></i></a></li>
          <li><a href="https://join.slack.com/t/newmexicowaterdata/shared_invite/zt-ihhgwm0n-Espdm3Kx3jPS4Q_RKrDxDg" target="_blank"><i class="fa fa-slack"></i></a></li>
          <li><a href="https://www.linkedin.com/company/71665272" target="_blank"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/nmwaterdata/" target="_blank"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://github.com/NMWDI" target="_blank"><i class="fa fa-skype"></i></a></li>
        </ul>
      </div>
      </div>

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 text-right">
        <div class="contact-nav">
          <ul>
            <li>
              <i class="fa fa-envelope"></i>
                <a href="https://newmexicowaterdata.org/give/">&nbsp; GIVE</a>
            </li>
            <li style="margin-left:40px;">
              <i class="fa fa-line-chart"></i>
              <a href="https://newmexicowaterdata.org/contact/">&nbsp; Contact Us</a>
            </li>
          </ul>
      </div>
      </div>
      </div>
    </div>
    
  </div>


  <div class="navbar-main container-fluid">
      <div class="main-content container-fluid">
        <div class="brand-logo">
          <a href="https://catalog.newmexciowaterdata.org">
            <img src="https://newmexicowaterdata.org/wp-content/uploads/2020/04/newmexicowaterdatalogo.png" alt="Site Logo" title="Site Logo">
          </a>
        </div>
    

      <nav class="nav navbar">
        <div class="right-content">
          <div class="row">
          <ul>
            <li><a href="/">ABOUT</a></li>
             <li><a href="/dataset">DATA</a></li>
             <li><a href="/organization">ORGANIZATIONS</a></li>
             <li><a href="/group">TOPICS</a></li>
             <li><a href="#">BLOG</a></li>
             <li><a href="/contact">CONTACT</a></li>
             <li><a class="register-button" href="/user/register">REGISTER</a></li> 
          </ul>
          </div>
        </div>

      </nav>
      </div>
  </div>

  


</nav>


