.footer-links > li {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .footer-links >li > a {
    text-decoration: none;
    color: #1F2633;
  }
  
  footer h5{ 
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
  
  }
  
  .footer-logo {
      text-align:left;
      margin-bottom: 30px;
  }
  
  .footer-social-icons li {
    display: inline-block;
    text-align: center;
  }
  
  .footer-social-icons li a {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      cursor: pointer;
      margin-top: 24px;
    } 
  .footer-social-icons li a i {
    color: black;
  }
  
  .signup-btn {
    width:106px;
    height: 39px;
    background: #03789B;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
  }
  
  .subscribe-section > span {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    color: #aaa;
  }