.right-content label, #hamburger{display:none;}
/* [ON SMALL SCREENS] */

@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
   .nav-items a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
   }

   .right-content label {
     display: inline-block;
     font-size: 1.2em;
     padding: 10px;
   }

   .nav-items {display:none;}
   .right-content input:checked ~ .nav-items {display:block;}

  }

  
  .navbar-top{
    background-color: #323232;
    width: 100%;
  
  
  }
  .top-content {  margin-right: 100px;
  }
  
  .social {
    display: inline-block;
    vertical-align: top;
    margin-left: 12%;
  }
  
  .social-icons li {
    display:inline-block;
    vertical-align: top;
    text-align: center;
  } 
  
   .social-icons li a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #4A4A37;
    cursor: pointer;
    line-height: 40px;
  } 
  
  .social-icons li a i {
    font-size: 13px;
    color: #fff;
    line-height: 1.5;
  }
  
  .social-icons li:last-child a {
    border-right: 1px solid #4A4A37;
  } 
  
  .contact-nav ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
  }
  
  .contact-nav li {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 14px;
    color: #cacaca;
    line-height: 1.5;
  }
  .contact-nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-button {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
  }

  
  .brand-logo {
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    text-align: center;
  }
  
  .brand-logo img {
    width: 123px;
    height: 39px;
    top: 62px;
    left: 95px;
  }
  
  
  .navbar-main {
    background-color: #fff;
    width: 100%;
  }
  
  
  .nav {
  float: right;
  text-align: right;
  }
  
  nav .right-content {
  display: block;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 600;
  }
  
  .right-content li {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: auto;
  margin-right: 35px;
  }
  
  .right-content li a {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  padding-top: 26px;
  padding-bottom: 26px;
  cursor: pointer;
  /* font-family: Poppins; */
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 600;
  font-style: normal;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  }
  
  .register-button{
    display:inline-block;
    vertical-align: top;
    padding: 9px 20px 8px 20px;
    width: 106px;
    height: 39px;
    margin-right: 30px;
    margin-top: 20px;
    line-height: 1.5;
    background: #03789B;
    cursor: pointer;
    color: #fff;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 600;
  }
  