.slider {
    background:url('/images/elvado.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 535px;
    width: 100%;
    
}
.slider .row {
    height: 535px;
}
.slider-center-box {
    margin-top: 140px;
}
.nmwd-box {
    width: 212px;
    height: 100px;
    margin-bottom: 20px;
    margin-left: 0px;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 800;
}

.new-mexico-box {
    height: 48px;
    background-color: #fff;
    color: #323232;
    text-align: center;
    margin-bottom: 5px;
    font-size: 30px;
    line-height: 50px;
}

.water-data-box {
    background-color: #03789B;
    width: 205px;
    height: 48px;
    color: #fff;
    text-align: center;
    top: 52px;
    font-size: 30px;
    line-height: 50px;
 
}


.nmwd-text > span {
    /* font-family: 'Mulish', sans-serif; */
    font-weight: 800;
    color: #fff;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;
    text-shadow: 0px 4px 20px rgba(50,50,50,0.5);
}

.info-box {
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 600;
    position: absolute;
    float: left;
    left: 0;
    margin-top: 130px;
    width: 84px;
    height: 250px;
    background-color:#323232;
}

.child-info {
    width: 84px;
    height: 84px;
    color: white;
   
}

.child-info > .info-count {
    font-size: 30px;
    text-align: center;
    display: block;
}

.child-info > .info-source {
    font-size: 10px;
    text-align: center;
    display:block
}

.searchbar {
    margin-top: 10px;
    margin-bottom: 5px;
    height: 53px;
}

.searchbar > span {
    color: #fff;
    /* font-family: 'Mulish', sans-serif; */
    font-weight: 800;
}
