*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  
  }


#page-container {
    position: relative;
    min-height: 100vh;
  }


  /* .your-classx {
  
  } */

  .js .image-upload #field-image-upload {
    cursor: pointer;
    position: absolute;
    z-index: 1;

    filter: alpha(opacity=0);
}

.datasets_links_div {
    position: absolute;
    top: 9px;
    right: 10px;
}
.site-footer, .site-footer label, .site-footer small {
    color: #ccdee3;
}
.embed-container {
    pointer-events: none;
    position: relative;
    padding-bottom: 33%;
    height: 0;
    max-width: 100%;
    border: #9E9E9E;
    border-style: solid;
    border-width: 2px;
}



  .embed-container iframe,
  .embed-container object,
  .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: #9E9E9E;
    border-style: solid;
    border-width: 2px;
  }

  small {
    position: absolute;
    z-index: 40;
    bottom: 0;
    margin-bottom: -15px;
  }

.embed-container-standalone {
    height: 800px;
    border: #9E9E9E;
    border-style: solid;
    border-width: 2px;
}

html > body > footer > div > div > div > ul > li > a{
    color:#2f76a0;
}
/* html.js body div div#content.container div.row.wrapper div.primary.col-sm-9.col-xs-12 section.module div.module-content form#resource-edit.dataset-form.dataset-resource-form div.image-upload div.form-group.control-full div.controls input#field-image-upload.form-control{
    width: 100% !important;
} */
/* #field-image-upload{
    width: 100%;
} */
.site-footer {
    margin-bottom: initial;
    padding: 10px 0;
    color: #2f76a0;
    background: #c6bc92 url(../../../base/images/bg.png);
    padding: 20px 0;
}


.searchcontainer {
    margin-bottom: 18px;
    margin-top: 18px;
}

#searchdatasets {
    height: 33px;

}



.module-content.box {
    padding: 20px;
    text-align: center;
}
.main-browse, .main-updates {
    background: #e4e4e4;
}
.module-content.topic .strikethrough-wrapper {
    margin-left: -16px;
}

a.browse-group {
    width: 21.7%;
    background-color: #fff;
    padding: 1%;
}
.browse-group {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: center;
    /* transition: all 400ms; */
    /* vertical-align: top; */
    /* width: auto; */
}

.browse-group-image {
    margin: 12px;
    max-height: 100px;
    max-width: 85%;
    height: 65px;
}
.titletext{
    color: #1f2125;
    margin-right: 11px
}
/* ========================================== 
    HEADER.CSS
   ==========================================
*/
.right-content label, #hamburger{display:none;}
/* [ON SMALL SCREENS] */

@media screen and (max-width: 768px){
  /* (A) BREAK INTO VERTICAL MENU */
   .nav-items a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
   }

   .right-content label {
     display: inline-block;
     font-size: 1.2em;
     padding: 10px;
   }

   .nav-items {display:none;}
   .right-content input:checked ~ .nav-items {display:block;}

  }

  
  .navbar-top{
    background-color: #323232;
    width: 100%;
  
  
  }
  .top-content {  margin-right: 100px;
  }
  
  .social {
    display: inline-block;
    vertical-align: top;
    margin-left: 12%;
  }
  
  .header-social-icons > li {
    display:inline-block;
    vertical-align: top;
    text-align: center;
  } 
  
   .header-social-icons > li > a {
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    border-left: 1px solid #4A4A37;
    cursor: pointer;
    line-height: 40px;
  } 
  
  .header-social-icons li a i {
    font-size: 13px;
    color: #fff;
    line-height: 1.5;
  }
  
  .header-social-icons li:last-child a {
    border-right: 1px solid #4A4A37;
  } 
  
  .contact-nav ul {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
  }
  
  .contact-nav li {
    display: inline-block;
    vertical-align: top;
    font-weight: 400;
    font-size: 14px;
    color: #cacaca;
    line-height: 1.5;
  }
  .contact-nav li a {
    color: #fff;
    text-decoration: none;
  }
  
  .contact-button {
    display: inline-block;
    vertical-align: top;
    margin-left: 24px;
  }

  
  .brand-logo {
    float: left;
    margin-top: 2%;
    margin-left: 5%;
    text-align: center;
  }
  
  .brand-logo img {
    width: 123px;
    height: 39px;
    top: 62px;
    left: 95px;
  }
  
  
  .navbar-main {
    background-color: #fff;
    width: 100%;
  }
  
  
  .nav {
  float: right;
  text-align: right;
  }
  
  nav .right-content {
  display: block;
  /* font-family: 'Poppins', sans-serif; */
  font-weight: 600;
  }
  
  .right-content li {
  display: inline-block;
  vertical-align: top;
  width: auto;
  height: auto;
  margin-right: 35px;
  }
  
  .right-content li a {
  position: relative;
  display: block;
  width: auto;
  height: auto;
  padding-top: 26px;
  padding-bottom: 26px;
  cursor: pointer;
  /* font-family: Poppins; */
  text-transform: uppercase;
  line-height: 1.5;
  font-weight: 600;
  font-style: normal;
  color: #333;
  font-size: 13px;
  text-decoration: none;
  }
  
  .register-button{
    display:inline-block;
    vertical-align: top;
    padding: 9px 20px 8px 20px;
    width: 106px;
    height: 39px;
    margin-right: 38px;
    margin-top: 20px;
    line-height: 1.5;
    background: #03789B;
    cursor: pointer;
    color: #fff;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 600;
  }
  
/* ========================================== 
    END OF HEADER.CSS
   ==========================================
*/

/* ========================================== 
    FOOTER.CSS
   ==========================================
*/

.footer-links > li {
    /* font-family: 'Mulish', sans-serif; */
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .footer-links >li > a {
    text-decoration: none;
    color: #1F2633;
  }
  
  footer h5{ 
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 600;
    font-size: 15px;
    line-height: 1.5;
  
  }
  
  .footer-logo {
      text-align:left;
      margin-bottom: 30px;
  }
  
  .footer-social-icons li {
    display: inline-block;
    text-align: center;
  }
  
  .footer-social-icons li a {
      display: block;
      padding-left: 15px;
      padding-right: 15px;
      cursor: pointer;
      margin-top: 24px;
    } 
  .footer-social-icons li a i {
    color: black;
  }
  
  .signup-btn {
    width:106px;
    height: 39px;
    background: #03789B;
    color: #fff;
    font-weight: 600;
    font-size: 13px;
    line-height: 1.5;
  }
  
  .subscribe-section > span {
    /* font-family: 'Mulish', sans-serif; */
    font-weight: 400;
    color: #aaa;
  }
  
  /* ========================================== 
      END OF FOOTER.CSS
     ==========================================
  */