.pop-datasets {
    background:url('/images/tweets-section-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.dt-box {
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 700;
    width: 346px;
    height: 48px;
    background-color: #fff;
    color: #323232;
    text-align: center;
    margin-top: 98px;
  }

  .dt-box > span {
    font-size: 27px;
    line-height: 50px;
  }

  .popular-dataset-box {
    width: 326px;
    height: 326px;
    background: #fff;
    border: 1px solid rgba(230, 225, 206, 0.38);
    margin-top: 26px;
    cursor: pointer;
  }


  .dt-group-icon {
    width: 45%; 
    height:24px; 
    margin-left: -1px;
    margin-top: 30px;
    margin-bottom: 19px;
    line-height: 25px;
  }

  .dt-group-icon > span {
    display:inline-block;
    margin-left: 10%;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 800;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;

  }

  .dt-title {
    width: 241px;
    height: 38px;
    margin-left: 30px;
    margin-right: 55px;
    margin-bottom: 24px;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #323232;
  }
  .dt-description {
    /* font-family: 'Mulish', sans-serif; */
    font-weight: 400;
    color: #aaa;
    width: 247px;
    height: 137px;
    margin-left: 30px;
    margin-right: 55px;
    overflow: hidden;


  }

  .dt-date {
    margin-top: 14px;
    margin-left: 30px;
    margin-right: 55px;
    color: #1F2633;
    /* font-family: 'Mulish', sans-serif; */
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
  }

 
  /* ============================ */

  .tweets-header{
    margin-top: 100px;
    margin-bottom: 70px;
    width: 225px;
    height: 51px;
    background-color: #fff;
    text-align: center;

    color: #323232;
    width: 199px;
    height: 46px;
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 700;
    font-size: 27px;
    line-height: 50px;
  }

  .tw-pic-box{
    width: 337px;
    height: 337px;
    border: 1px solid #E6E1CE;
    border-radius: 50%;
    margin-bottom: 110px;
  }

  .tw-pic {
    background:url('https://pbs.twimg.com/profile_images/1364695382685589508/ilE_bRJ3_400x400.jpg');
    background-size: cover;
    width: 288px;
    height: 288px;
    border: 5px solid #fff;
    border-radius: 50%;
    margin: 24px;
  }

  #tweet-box{
    /* font-family: 'Mulish', sans-serif; */
    font-weight: 200;
    height: 205px;
    font-size: 20px;
    line-height: 1.5;
    color: #fff;
    text-align:start;
  }

  #tweet-box a {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
  }
  .prev-next{
    /* font-family: 'Poppins', sans-serif; */
    font-weight: 400;
    font-size: 20px;
    line-height: 1.5;

  }
  .prev-next a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
  }