*{
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
  
  }


#page-container {
    position: relative;
    min-height: 100vh;
  }


  /* .your-classx {
  
  } */

  .js .image-upload #field-image-upload {
    cursor: pointer;
    position: absolute;
    z-index: 1;

    filter: alpha(opacity=0);
}

.datasets_links_div {
    position: absolute;
    top: 9px;
    right: 10px;
}
.site-footer, .site-footer label, .site-footer small {
    color: #ccdee3;
}
.embed-container {
    pointer-events: none;
    position: relative;
    padding-bottom: 33%;
    height: 0;
    max-width: 100%;
    border: #9E9E9E;
    border-style: solid;
    border-width: 2px;
}



  .embed-container iframe,
  .embed-container object,
  .embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: #9E9E9E;
    border-style: solid;
    border-width: 2px;
  }

  small {
    position: absolute;
    z-index: 40;
    bottom: 0;
    margin-bottom: -15px;
  }

.embed-container-standalone {
    height: 800px;
    border: #9E9E9E;
    border-style: solid;
    border-width: 2px;
}

html > body > footer > div > div > div > ul > li > a{
    color:#2f76a0;
}
/* html.js body div div#content.container div.row.wrapper div.primary.col-sm-9.col-xs-12 section.module div.module-content form#resource-edit.dataset-form.dataset-resource-form div.image-upload div.form-group.control-full div.controls input#field-image-upload.form-control{
    width: 100% !important;
} */
/* #field-image-upload{
    width: 100%;
} */
.site-footer {
    margin-bottom: initial;
    padding: 10px 0;
    color: #2f76a0;
    background: #c6bc92 url(../../../base/images/bg.png);
    padding: 20px 0;
}


.searchcontainer {
    margin-bottom: 18px;
    margin-top: 18px;
}

#searchdatasets {
    height: 33px;

}



.module-content.box {
    padding: 20px;
    text-align: center;
}
.main-browse, .main-updates {
    background: #e4e4e4;
}
.module-content.topic .strikethrough-wrapper {
    margin-left: -16px;
}

a.browse-group {
    width: 21.7%;
    background-color: #fff;
    padding: 1%;
}
.browse-group {
    display: inline-block;
    margin-bottom: 20px;
    margin-right: 10px;
    text-align: center;
    /* transition: all 400ms; */
    /* vertical-align: top; */
    /* width: auto; */
}

.browse-group-image {
    margin: 12px;
    max-height: 100px;
    max-width: 85%;
    height: 65px;
}
.titletext{
    color: #1f2125;
    margin-right: 11px
}
/* ===============================================
                HEADER CSS
  =============================================== */



/* ===============================================
                END OF HEADER CSS
  =============================================== */

  /* ===============================================
                SLIDER CSS
  =============================================== */

  /* ===============================================
               END OF SLIDER CSS
  =============================================== */


  /* ===============================================
                TOPICS CSS
  =============================================== */

  /* ===============================================
               END OF TOPICS CSS
  =============================================== */

/* ===============================================
                DATASTETS & TWEETS CSS
  =============================================== */

  /* ===============================================
               END OF DATASTETS & TWEETS CSS
  =============================================== */


/* ===============================================
                FOOTER CSS
  =============================================== */

  /* ===============================================
               END OF FOOTER CSS
  =============================================== */